@import "foundation/_reset.scss";

$KEY_COLOR: #FBE633;
$SUB_COLOR: #066AA7;
$TEXT_COLOR: #333333;
$HORIZONTAL_MARGIN: 20px;

$CONTENT_WIDTH: 1500px;
$CONTENT_HEIGHT: 640px;

$MARGIN: 10px;
$HEADER_HEIGHT: 2.4rem;

html {
  font-size: 62.5%;
}

body {
  color: $TEXT_COLOR;
  background-color: #fff;
  font-family: 'TsukuARdGothic-Regular',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.header {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  height: 60px;
  z-index: 100000;

  .wrapper {
    margin: 0 120px;
    vertical-align: top;

    .main-title {
      display: inline-block;
      margin-right: 60px;
      img {
        width: auto;
        height: 40px;
      }
    }
  }
}

header {
  #nav-drawer {
    position: relative;
  }

  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }

  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 48px;
    height: 48px;
    padding: 14px 13px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    vertical-align: middle;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  }

  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 2px;/*線の太さ*/
    width: 20px;/*長さ*/
    border-radius: 3px;
    background: #fff;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }

  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
  }

  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;/*最前面に*/
    width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
    max-width: 330px;/*最大幅（調整してください）*/
    height: 100%;
    background-color: rgba($SUB_COLOR, 0.9);
    transition: .3s ease-in-out;/*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);/*左に隠しておく*/
  }

  .nav {
    margin-top: 60px;
    .nav-item {
      margin: 40px 0 40px 20px;
      a {
        color: #fff;
        font-size: 2.6rem;
        font-weight: 700;
      }
    }
  }

  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
}

#pp-nav {
  display: none;
}

h2 {
  display: inline-block;
  color: $SUB_COLOR;
  font-size: 5.2rem;
  font-weight: 700;
  /* background: linear-gradient(transparent 70%, #a7d6ff 70%); */
  margin-bottom: 20px;
}

h3 {
  font-size: 1.0rem;
  font-weight: 900;
  text-align: center;
}
.header-area {
  .wrapper {
    .ribbon6 {
      display: inline-block;
      position: relative;
      height: 60px;
      line-height: 60px;
      vertical-align: middle;
      text-align: center;
      padding: 7px 0;
      font-size: 18px;
      background: $SUB_COLOR;
      color: #FFF;
      box-sizing: border-box;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }

    .ribbon6 h3 {
        vertical-align: middle;
        margin: 0;
        padding: 0 30px;
        border-top: dashed 2px rgba(255, 255, 255, 0.5);
        border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
        line-height: 42px;
    }

    .ribbon6:before, .ribbon6:after{
      position: absolute;
      content: '';
      width: 0px;
      height: 0px;
      z-index: 1;
    }

    .ribbon6:before{
        top: -2px;
        left: -2px;
        border-width: 32px 0px 32px 15px;
        border-color: transparent transparent transparent $KEY_COLOR;
        border-style: solid;
    }

    .ribbon6:after{
        top: -2px;
        right: -2px;
        border-width: 32px 15px 32px 0px;
        border-color: transparent $KEY_COLOR transparent transparent;
        border-style: solid;
    }
  }
}


/* =====================
  共通パーツ
===================== */

section {
}

.section {
}
svg {
  display: block;
  width: 100%;
  z-index: -1000;
}
.ribbon-area {
  display: none;
}

.ribbon-top {
  padding-top: 6vh;
}
.ribbon-bottom {
  margin-bottom: 10px;
}

.container {
  /*background: linear-gradient(90deg, $KEY_COLOR 80%, #FCCD06);*/
  width: 100%;
  padding: 0 10px 6vh;
  background: $KEY_COLOR;
}

.header-area {
  margin-bottom: 20px;
  text-align: center;
}

.main-content {
  position: relative;
  text-align: center;
}

.image-area {
  position:relative;
  display:inline-block;
  max-width: 400px;
  line-height:0;
  overflow:hidden;
  &::after {
    content:"";
    position:absolute;
    top:0; right:0; bottom:0; left:0;
    box-shadow:inset 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100%;
    height: auto;
  }
}

.contents {
  position: relative;
  padding-bottom: 40px;
  background-color: #ffffff;
  z-index: -10;
}

.works-area {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;

  .work {
    display: inline-block;
    position:relative;
    background-color: #f6f6f6;
    width: 140px;
    height: 140px;
    margin: 0 10px 20px;
    font-size: 0;
    line-height:0;
    overflow:hidden;
    transition: transform 200ms ease-in-out;
    &::after {
      content:"";
      position:absolute;
      top:0; right:0; bottom:0; left:0;
      box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    &:hover {
      transform: scale(1.02, 1.02);
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #eeeeee;
  color: #777777;
}

.guests {
  margin-bottom: 20px;
  .first {
    display: block;
    width: 40vw;
    height: 40vw;
    max-width: 300px;
    margin: 0 auto 80px;
  }
  li {
    display: inline-block;
    padding: 10px 0;
    width: 100px;
    height: 100px;
    margin: 0 20px;
    .icon {
      position: relative;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .name {
      position: relative;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      font-size: 1.2rem;
      margin-top: -10px;
      padding: 8px 0;
      z-index: 10;
    }
    .sub {
      margin-top: 10px;
    }
  }
}

.description {
  padding: 10px 20px;
  width: 300px;
  font-size: 1.6rem;
  text-align: left;
  line-height: 1.6;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.social {
  bottom: 0;
  text-align: right;
  padding: 10px;
  li {
    display: inline-block;
    .social-item {
      display: block;
      width: 56px;
      height: 56px;
      margin: 0 4px 1vw;
      padding: 16px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.6);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    }
  }
  z-index: 1000;
}

.social-top {
  background-color: #eee;
}

/* =====================
  固有スタイル
===================== */

#pagepiling {
  display: none;
}

.top {
  height: 100vh;
  .container {
    .key-visual {
      img {
        padding: 10px 0;
      }
    }
  }
}
.top-mobile {
  .container {
    padding: 0 10px;
    .key-visual {
      img {
        padding: 10vh 0 2vh;
      }
    }
  }
}
.top, .top-mobile {
  padding: 0;
  background: #eee;
  .container {
    background: #eee;
    .key-visual {
      text-align: center;
      img {
        max-height: 100vh;
      }
    }
    .text-area {
      position: absolute;
      top: 10px;
      right: 16px;
      text-align: right;
      font-size: 1.6rem;
      line-height: 1.6;
      dt {
        font-weight: 700;
        margin-bottom: 10px;
      }
    }
  }
}

.about {
  .main-content {
    .image-area {
      &::after {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
      }
    }
    .description {
      position: relative;
      width: 100%;
      margin-top: 10px;
      color: #fff;
      background-color: rgba($SUB_COLOR, 0.9);
    }
  }
}

.theme {
  .main-content {
    .image-area {
      &::after {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
      }
    }
    .description {
      position: relative;
      width: 100%;
      margin-top: 10px;
      color: #fff;
      background-color: rgba($SUB_COLOR, 0.9);
    }
  }
}

.gallery {
  .header-area {
    .header-box {
      background-color: rgba($KEY_COLOR, 0.8);
      width: 320px;
      padding: 10px 20px;
      margin: 0 auto;
    }
  }
  .gallery-btn {
    text-align: center;
    .btn {
      display: inline-block;
      position: relative;
      margin-bottom: 30px;
      color: #fff;
      background: $SUB_COLOR;/*背景色*/
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
  }
}

.event {
  .guest-area-box {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    h3 {
    }
    h4 {
      font-size: 2.0rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .guest-area {
      display: inline-block;
      margin: 0 auto;
      padding: 20px 0;
      /*background-color: rgba(255, 255, 255, 0.2);*/

      .description-area {
        margin: 0 auto;
        p {
          line-height: 1.6;
        }
      }
    }
  }
}

.access {
  .main-content {
    .googlemap {
      display: inline-block;
      position: relative;
      margin: 0 auto 20px;
      width: 100%;
      height: 300px;
      z-index: 0;
    }
    .information-area {
      display: inline-block;
      vertical-align: top;
      dl {
        display: block;
        line-height: 2.0;
        text-align: center;
        dt {
          display: block;
          font-weight: 700;
          vertical-align: top;
        }
        dd {
          display: inline-block;
          vertical-align: top;
          width: 100%;
        }
      }
    }
    .row {
      margin-bottom: 10px;
    }
  }
}
.footer {
  background-color: rgba(0,0,0,0);

  .link {
    h2 {
      font-size: 3.2rem;
      color: #ffffff;
    }
    .link-box {
      width: 100px; 
      height: 100px; 
      background-color: #555555; 
      margin: 0 20px;
      border-radius: 10px;
    }
  }
}

/*====================
{{スマホを基本設計にする}}
 - 〜479px：SP縦
 - 480px〜599px：SP横
 - 600px〜959px：タブレット
 - 960px〜1279px：小型PC
 - 1280px〜：大型PC
====================*/

/* 〜479px：SP縦
------------------------------ */
.middle {
  display: none;
}

.back {
  display: none;
}


/* 480px〜599px：SP横
------------------------------ */

/* 960px〜1279px：小型PC
------------------------------ */
@media screen and ( min-width: 1024px ) and ( min-height: 740px ) {

  body {
    background-color: #fff;
  }

  h2 {
    font-size: 3.6vw;
  }

  h3 {
    font-size: 1.2vw;
  }

  header {
    display: none;
    #nav-drawer {
    }
  }

  #pp-nav {
    display: block;
  }
  
  section {
    padding: 10vh 0;
    background-color: rgba(0, 0, 0, 0);
  }

  .container {
    padding: 0;
    height: 100%;
  }

  .header-area {
    margin-bottom: 2vh;
  }
  .image-area {
    display: inline-block;
    max-width: 1000px;
    height: 60vh;
    img {
      height: 100%;
      width: auto;
    }
  }

  .ribbon-area {
    display: block;
    position: absolute;
    .ribbon-top {
      top: 0;
      height: 10vh;
      padding-top: 0;
    }
    .ribbon-bottom {
      bottom: 0;
      height: 10vh;
      margin-bottom: 0;
    }
  }
  svg {
    display: block;
    position: fixed;
    width: 100%;
    height: auto;
    path{
      /*fill: url(#g);*/
      filter: drop-shadow(0 16px 2px rgba(0, 0, 0, 0.1));
    }
  }

  .works-area {
    margin: 0 auto;
    max-width: 70vh;
    text-align: center;

    .work {
      display: inline-block;
      background-color: #f6f6f6;
      max-width: 20vh;
      max-height: 20vh;
      width: 240px;
      height: 240px;
      margin: 0 10px 20px;
    }
  }

  .guests {
    margin-bottom: 20px;
    .first {
      display: inline-block;
      width: 140px;
      height: 140px;
      max-width: 14vh;
      margin: 0 20px;
    }
    li {
      display: inline-block;
      padding: 10px 0;
      width: 140px;
      max-width: 14vh;
      margin: 0 20px;
      .icon {
        position: relative;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .name {
        position: relative;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        font-size: 1.4vh;
        margin-top: -10px;
        padding: 8px 0;
        z-index: 10;
      }
      .sub {
        display: none;
      }
    }
  }

  .description {
    width: 500px;
    padding: 10px 20px;
    font-size: 2vh;
    text-align: left;
    line-height: 2;
    vertical-align: top;
  }
  
  .ribbon {
    position: absolute;
    top: 0;
  }

  #pagepiling {
    display: block;
  }
  .top-mobile {
    display: none;
  }
  .top {
    padding: 0;
    background: #eee;
    .container {
      background: #eee;
      .key-visual {
        height: 100%;
        text-align: center;
        img {
          height: 100%;
          padding: 0;
        }
      }
    }
    .text-area {
      position: absolute;
      top: 20px;
      right: 20px;
      text-align: right;
      font-family: "tsukushi a round gothic";
      font-size: 2.2rem;
      line-height: 1.6;
      dt {
        font-size: 2.2rem;
        font-weight: 700;
      }
    }
  }

  .about {
    .main-content {
      .image-area {
        &::after {
          box-shadow:inset 0 2px 16px rgba(0, 0, 0, 0.2);
        }
      }
      .description {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 500px;
        color: #fff;
        background-color: rgba($SUB_COLOR, 0.9);
      }
    }
  }

  .theme {
    .main-content {
      .image-area {
        &::after {
          box-shadow:inset 0 2px 16px rgba(0, 0, 0, 0.2);
        }
      }
      .description {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 500px;
        color: #fff;
        background-color: rgba($SUB_COLOR, 0.8);
      }
    }
  }

  .gallery {
    .header-area {
    }
    .gallery-btn {
      .btn {
        margin-bottom: 0;
      }
    }
  }

  .event {
    .header-area {
      margin-bottom: 0;
    }
    .guest-area-box {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
      h4 {
        font-size: 2.0rem;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
    .guest-area-box {
      .guest-area {
        display: inline-block;
        margin: 0 auto;
        padding: 10px 0;
        /*background-color: rgba(255, 255, 255, 0.2);*/

        .description-area {
          width: 600px;
          margin: 0 auto;
          p {
            line-height: 1.6;
          }
        }
      }
    }
  }

  .access {
    .main-content {
      .googlemap {
        display: inline-block;
        margin: 0 auto;
        margin-right: 40px;
        width: 400px;
        height: 500px;
      }
      .information-area {
        display: inline-block;
        vertical-align: top;
        dl {
          display: block;
          text-align: left;
          line-height: 2.0;
          dt {
            display: inline-block;
            font-size: 1.6rem;
            font-weight: 700;
            vertical-align: top;
          }
          dd {
            display: inline-block;
            margin: 0 0 0 20px;
            font-size: 1.6rem;
            vertical-align: top;
          }
        }
      }
      .row {
        margin-bottom: 40px;
      }
    }
  }
  .social {
    position: fixed;
    bottom: 10px;
    right: 16px;
    margin: 0;
    padding: 0;
    li {
      display: block;
      .social-item {
        width: 4vw;
        height: 4vw;
        margin: 0 0 1vw;
        padding: 1.0vw;
      }
    }
    z-index: 100;
  }
  .social-top {
    background-color: rgba(0, 0, 0, 0);
  }
}
