@import "common/_reset.scss";
@import "common/_config.scss";

html {
  font-size: 62.5%;
}

body {
  color: $TEXT_COLOR;
  background-color: #ffffff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

h2 {
  display: inline-block;
  color: $SUB_COLOR;
  font-size: 64px;
  font-weight: 700;
  /* background: linear-gradient(transparent 70%, #a7d6ff 70%); */
}

h3 {
  padding: 10px 0;
  font-weight: 900;
  text-align: center;
}

p {
  line-height: 1.8;
}

dl {
  margin: 20px 0;

  dt {
    font-weight: 700;
    text-align: center;
  }

  dd {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 20px;
  }
}

section {
  position: relative;
  padding-bottom: 40px;
  background-color: #ffffff;
  z-index: -10;
}

.section {
}

.wrapper {
  position: relative;
  background-color: #ffffff;
  z-index: -100;
}


/* =====================
  共通パーツ
===================== */

.container {
  position: relative;
  width: $MAX_WIDTH_PC;
  padding: 20px 0 40px;
  margin: 0 auto;
  /*border: solid 1px #f6f6f6;*/
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #eeeeee;
  color: #777777;
}


svg {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  z-index: -10;

  &.flag-bottom {
    filter: drop-shadow(0 16px 2px rgba(0, 0, 0, 0.1));
  }
  
  .bottom {
  }

  .fill {
    fill: rgba($KEY_COLOR, 1.0);
    filter: drop-shadow(0 16px 2px rgba(0, 0, 0, 0.1));
  }

  .line {
    stroke: $SUB_COLOR;
    stroke-width: 4.0px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: rgba(0, 0, 0, 0.0);
    filter: drop-shadow(0 12px 2px rgba(0, 0, 0, 0.1));
  }
}


/* =====================
  固有スタイル
===================== */


.top {

  .key-visual {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.about {
  p {
    width: 600px;
    margin: 0 auto;
  }
  
  .image-area {
    background-color: #ffffff;
    
    img {
      height: auto;
    }
  }
}

.theme .section {
  background-color: rgba($KEY_COLOR, 1.0);

  .svg-bg {
  }

  .image-area {
    position: relative;

    p {
      position: absolute;
      bottom: 10px;
      left: 10px;
      width: 80%;
      color: #ffffff;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 6px 12px;
    }
  }
}

.gallery {
  .header-area {
    .header-box {
      background-color: rgba($KEY_COLOR, 0.8);
      width: 320px;
      padding: 10px 20px;
      margin: 0 auto;
    }
  }

  .works-area {
    margin: 0 auto 40px;
    text-align: center;

    .work {
      display: inline-block;
      background-color: #f6f6f6;
      width: 300px;
      height: 300px;
      box-shadow: 0 3px 8px rgba(255, 255, 255, 0.8);
      border: solid 1px #f6f6f6;
    }
  }

  .gallery-btn-area {
    text-align: center;
  }
}

.event .section{
  background-color: rgba($KEY_COLOR, 1.0);
  
  .guest-areas {
    text-align: center;
  }
  .guest-area {
    display: inline-block;
    width: 400px;
    vertical-align: top;

    .guest {
      display: inline-block;
      padding: 10px 0;
      margin: 0 20px;

      .icon {
        position: relative;
        background-color: #f6f6f6;
        width: 100px;
        height: 100px;
        border: solid 1px #777777;
        border-radius: 50%;

        img {
          width: 100%;
          border-radius: 50%;
        }
      }

      .name {
        position: relative;
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        margin-top: -10px;
        z-index: 10;
      }
    }
    .description-area {
      width: 300px;
      margin: 0 auto;
    }
  }

  .guest-area.left {
  }

  .guest-area.right {
    border-left: solid 1px #777777;
  }
}

.access {
  .section {
    background-color: #ffffff;
  }
  position: relative;
  margin-bottom: 0;
  background-color: #666666;
  .image-area {
    height: auto;
    border: solid 1px #222222;
    img {
    }
  }
  dl {
    margin: 40px 0;
  }
  svg.bottom{
    filter: drop-shadow(0 16px 2px rgba(0, 0, 0, 0.1));
    .fill {
      fill: #ffffff;
    }
  }
}

.parallax-window {
  min-height: 400px;
  background: transparent;
}

@import "modules/_header.scss";
@import "modules/_footer.scss";
@import "modules/_section.scss";

/* ------------- スクロールフェードインDown用 ------------- */
.fadeInDown {
  -webkit-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -ms-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
  0% { opacity: 0; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
/* ------------- スクロールフェードインDown用 END ------------- */

