.footer {
  background-color: #666666;

  .link {
    h2 {
      font-size: 3.2rem;
      color: #ffffff;
    }
    .link-box {
      width: 100px; 
      height: 100px; 
      background-color: #555555; 
      margin: 0 20px;
      border-radius: 10px;
    }
  }
}
