.header {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 1.0);

  &__menu-button {
    display: inline-block;
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: #3D6AA4;
  }
}
